html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 0.875rem;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 550px;
    height: 550px;
    margin: 1em auto;
}

.colour-selection {
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1.125em;
    box-shadow: 0px 4px 11px 0px #00000026;
    z-index: 1;
}

.colour-selection p {
    border: 1px #d1d5db solid;
    padding: 1.125em 0.75em;
    border-radius: 5px;
    text-transform: uppercase;
    
}

input {
    height: 42px;
    width: 61px;
    border: 1px #d1d5db solid;
    border-radius: 5px;
}

select {
    font-size: 1.125rem;
    width: 200px;
    height: 43px;
    border: 1px #d1d5db solid;
    background-color: #fff;
    font-family: inherit;
    font-weight: 300;
}

button {
    padding: 1.125em 0.75em;
    background-color: #fff;
    border: 1px #d1d5db solid;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #0000000D; 
}

button:hover, button:active {
    box-shadow: 2px 2px 10px 1px #d1d5db;
}


.colours-display {
    display: flex;
    width: 100%;
    height: 75%;
}

.colour {
    width: 20%;
    height: 100%;
}

.colour-names {
    height: 46px;
    width: 100%;
    background-color: #fff;
    display: flex;
    box-shadow: 0px 4px 11px 0px #00000026;
}

.colour-id {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 {
    background-color: #000;
}

.box-2 {
    background-color: #1a1919;
}

.box-3 {
    background-color: #343232;
}

.box-4 {
    background-color: #4f4a4a;
}

.box-5 {
    background-color: #6a6262;
}